VITE_JSON_API_BASE_URL=http://localhost:7575/v1
VITE_DAML_PACKAGE_ID=<replace-with-dar-package-id>

VITE_SUPPLIER_PARTY=Supplier_A
VITE_SUPPLIER_JWT=<supplier-jwt>

VITE_BUYER_PARTY=Buyer_B
VITE_BUYER_JWT=<buyer-jwt>

VITE_FINANCIER_PARTY=Financier_F
VITE_FINANCIER_JWT=<financier-jwt>

VITE_CUSTODIAN_PARTY=Custodian_C
VITE_CUSTODIAN_JWT=<custodian-jwt>
